<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>27983614553-dtdb3p51n36h5inm6qir71oc5c8833gr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27983614553-dtdb3p51n36h5inm6qir71oc5c8833gr</string>
	<key>API_KEY</key>
	<string>AIzaSyAZC3jWATLgSEYNgnCIE3tbVRt3fwj5_A8</string>
	<key>GCM_SENDER_ID</key>
	<string>27983614553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SombreroElGringo.InnKeeper</string>
	<key>PROJECT_ID</key>
	<string>userlogin-5741f</string>
	<key>STORAGE_BUCKET</key>
	<string>userlogin-5741f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:27983614553:ios:40d9b0df1e8a7fdb</string>
	<key>DATABASE_URL</key>
	<string>https://userlogin-5741f.firebaseio.com</string>
</dict>
</plist>